@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:700,800&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400');
@keyframes modalContentFadeIn {
  0% {
    opacity:0;

    right: -300px
  }
  100% {
    opacity:1;

    right: 0px

  }
}
  #home {color:black;
        text-decoration:none;
        display:inline-block;
        margin-top: 130px;
        margin-bottom: 130px
        }

  #cat {position: fixed;
  border: 0px;
  background-color: #d8d4ce/*#efebe8*/;
  width: px;
  height: px;
  top: 0px;
  left: 0;
  right: 0;}

  #button {position: fixed;
  border: 0px;
  background-color: transparent;
  width: px;
  height: px;
  top: 100px;
  left: 10px;
  right: 0;}

  #button2 {position: fixed;
  border: 0px;
  background-color: transparent;
  width: px;
  height: px;
  top: 100px;
  right: 10px;}


  #myBtn {position: fixed;
    z-index: 0;
  border: 0px;
  background-color: transparent;
  bottom: 30px;
  right: 40px;
}

  #계정1, #계정2 {color: white;}
  #계정1:hover, #계정2:hover {text-decoration: underline;}

  #homebanner
  {display: block;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 80px;}

@font-face { font-family: 'Nanum Myeongjo', serif; }
    h1 {border:0px dotted #7FFF00;
    padding:5px;
    margin:auto;
    margin-bottom:30px;
    display:block;
    width:75%;
    font-size:48px;
    word-break:break-all;
    font-family: 'Nanum Myeongjo', serif;
    line-height:70px;}

    a {color:#cc0000;

      text-decoration:none;
      cursor:url(halfr.cur),auto;}

    h2 {
      font-family: 'Nanum Myeongjo', serif;
      display:block;
      text-align:center;
      font-size:70px;
      line-height:80px}




    body {

        background-color: #d8d4ce;/*#efebe8*/;cursor:url(fullr.cur),auto;


          background-repeat: no-repeat;
          background-size: 100%;}




    h3 {font-family: 'Nanum Myeongjo', serif;

    text-align: center;
    font-size:35px;

      }
    .text {

        font-family: 'Nanum Myeongjo', serif;
        font-size: 30px;
        line-height: 50px;
        width:62%;
        display:block;
        margin:auto;
        margin-top: 30px;
        text-align:left;
        word-break: break-all;
        font-weight:600;
      }

        .wrap {width: 180px;
          overflow-x:scroll;
          white-space: nowrap;
          display: block;
          margin: auto;
          margin-top: 150px;}

          .gggseries
          {width:120px;}

        .text_t{
            font-family: 'Nanum Myeongjo', serif;
            font-size: 20px;
            line-height: 50px;
            width:62%;
            display:block;
            margin:auto;
            margin-top: 0px;
            margin-bottom: 200px;
            text-align:center;
            word-break: break-all;
            font-weight:600;
          }


    a:hover {color: transparent;}

    .카 {color:black;}
    .카:hover {opacity:0;}

    .modal {
      display: none; /* Hidden by default */
       /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      right: 10px;
      width: 50%; /* Full width */
      height: 50%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: transparent; /* Fallback color */

    }

/* Modal Content */
.modal-content {/*font-family: 'Nanum Myeongjo', serif;

  font-size: 40px;
  line-height:60px;
  color: white;
  overflow: scroll;*/
  z-index: 3;
  background-color: #b11928;
  width: 280px;
  height: 440px;

  position: fixed;
  top: 33.3%;
  bottom: ;
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 0px;
  animation: modalContentFadeIn .5s 0s linear forwards;
}
.content{
  font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height:25px;
    color: white;
    z-index: 3;
    width: 250px;
    height: 400px;
    overflow: auto;
    position: center;

    animation: modalContentFadeIn .5s 0s linear forwards;
}

.content2
{  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
    font-size: 15px;
    line-height:25px;
    color: white;}
/* The Close Button */
.close {

  color: #eeece9;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.copyright
{font-family: 'Nanum Myeongjo', serif; text-align:left;
font-size:12px; line-height:20px; border-top:solid black 0.5px;
padding-top:10px;width:85%;
margin-right:auto;
margin-left:auto;
}

.identity
{width:60%;display:block;
  margin-right:auto;margin-left:auto;
  margin-top:100px;
  margin-bottom:100px}
.goods
{width:85%; display:block;
  margin-right:auto;
  margin-left:auto;
  margin-top: 100px;
  margin-bottom:10px;}

@media (min-width:0px) and (max-width:600px)
  {

    #cat {font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    font-size:25px;}
    #myBtn {position: fixed;
      width: 15%;
      z-index: 0;
    border: 0px;
    background-color: transparent;
    bottom: 20px;
    right: 20px;
  }

    .text {
        font-family: 'Nanum Myeongjo', serif;
        font-size: 22px;
        line-height: 34px;
        width:80%;
        display:block;
        margin:auto;
        margin-top: 30px;
        text-align:left;
        word-break: break-all;
        font-weight:600;
      }



  .copyright
  {font-family: 'Nanum Myeongjo', serif; text-align:left;
  font-size:12px; line-height:20px; border-top:solid black 0.5px;
  padding-top:15px;width:98%;
  margin-right:auto;
  margin-left:auto;
  }

      .text_t{
          font-family: 'Nanum Myeongjo', serif;
          font-size: 15px;
          line-height: 20px;
          width:90%;
          display: block;
          margin: auto;
          margin-bottom: 100px;
          font-weight:600;
        }
      .wrap {width: 100px;
        overflow-x:scroll;
        white-space: nowrap;
        display: block;
        margin: auto;
        margin-top: 100px;}

        .gggseries
        {width:80px;}

        .identity
        {width:100%;display:block;
          margin:auto;
          margin-top:30px;
          margin-bottom:30px}
        .goods
        {width:100%; display:block;
          margin-right:auto;
          margin-left:auto;
          margin-bottom:20px;}

      h1 {
        width:80px;
        margin-bottom:45px;
        }
        img.homebutton
        {width: 60px;}

        .modal {
          display: none; /* Hidden by default */
           /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 20px; /* Location of the box */
          left: 0;
          top: 0;
          right: 10px;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: transparent; /* Fallback color */

        }

        .modal {
          display: none; /* Hidden by default */
           /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 20px; /* Location of the box */
          left: 0;
          top: 0;
          right: 10px;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: transparent; /* Fallback color */

        }

      /* Modal Content */
      .modal-content {/*font-family: 'Nanum Myeongjo', serif;

      font-size: 40px;
      line-height:60px;
      color: white;
      overflow: scroll;*/
      z-index: 3;
      background-color: black;
      width: 200px;
      height: 400px;
      position: fixed;
      top: 15%;
      bottom: ;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 0px;
      padding-bottom: 0px;
      animation: modalContentFadeIn .5s 0s linear forwards;
      }
      .content{
      font-family: 'Noto Sans KR', sans-serif;

        font-size: 13px;
        line-height:21px;
        color: white;
        z-index: 3;
        width: 190px;
        height: 350px;
        overflow: scroll;
        position: left;

        animation: modalContentFadeIn .5s 0s linear forwards;
      }

      .content2
      {  font-family: 'Noto Sans KR', sans-serif;

        font-size: 13px;
        line-height:21px;
        color: white;}

  }
